*.ipynb_checkpoints/
*.vscode/
*.idea/
*.pyc
venv/
build/
*.so
*.pth
*.pkl
*.zip
*.bin
*.pdf
*version.py
*.npy
*.DS_Store
*.sbatch
*.out

**__pycache__**
**build**
**egg-info**
output/*
don_t_know/*
*.err
*.out
*.slurm
*.ipynb
data/custom/*
data/kitti/gt_database/*
data/kitti/training/*
data/kitti/testing/*
tools/update_reminder.txt

tools/train_random_source_target.py
*/logs/*
